<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Tue 30 May</h3>
    <h4>
    Lesson <a href="https://datacarpentry.org/python-ecology-lesson/" target="_blank" rel="noopener noreferrer"> Python Part 1</a>
    </h4>
<table class="table table-striped">
      <tr> <td>09:30</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/index.html#getting-started" target="_blank" rel="noopener noreferrer">Setup</a> </td> </tr>
      <tr> <td>     </td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/00-before-we-start.html" target="_blank" rel="noopener noreferrer">Before we start</a>,
                                <a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python.html">Short Introduction to Python</a> and
                                <a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python.html">Variables</a> </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python.html#functions" target="_blank" rel="noopener noreferrer">Functions</a>,
                               and
                                <a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data.html">Starting with Data</a> </td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset.html">Indexing, Slicing and Subsetting DataFrames in Python</a> </td> </tr>
      <tr> <td>     </td>  <td> Wrap-up </td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Wed 31 May</h3>
    <h4>
        Lesson <a href="https://datacarpentry.org/python-ecology-lesson/" target="_blank" rel="noopener noreferrer"> Python Part 2</a>
    </h4>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format.html" target="_blank" rel="noopener noreferrer">Data Types and Formats</a> </td> </tr>
      <tr> <td>     </td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format.html#types-of-data" target="_blank" rel="noopener noreferrer">Types of Data</a> </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data.html" target="_blank" rel="noopener noreferrer">Combining DataFrames with Pandas</a> </td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions.html" target="_blank" rel="noopener noreferrer">Loops and Functions</a>,
                                <a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python.html">Making Plots</a> and
                                <a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together.html">Data Ingest and Visualization - Matplotlib and Pandasn</a> </td> </tr>
      <tr> <td>     </td>  <td> Wrap-up </td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3: Thu 01 June</h3>
    <h4>
       Lesson <a href="https://swcarpentry.github.io/shell-novice/" target="_blank" rel="noopener noreferrer"> The Unix Shell</a>
    </h4>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td> <a href="https://swcarpentry.github.io/shell-novice/01-intro.html" target="_blank" rel="noopener noreferrer">Introducing Shell</a> </td> </tr> 
      <tr> <td>     </td>  <td> <a href="https://swcarpentry.github.io/shell-novice/02-filedir.html" target="_blank" rel="noopener noreferrer">Navigating Files and Directories</a> </td> </tr>                       
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td> <a href="https://swcarpentry.github.io/shell-novice/03-create.html" target="_blank" rel="noopener noreferrer">Working With Files and Directories</a> and 
                                <a href="https://swcarpentry.github.io/shell-novice/04-pipefilter.html" target="_blank" rel="noopener noreferrer">Pipes and Filters</a> </td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td> <a href="https://swcarpentry.github.io/git-novice/02-setup/index.html" target="_blank" rel="noopener noreferrer">Shell and Git</a> </td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4: Fri 02 June</h3>
    <h4>
    Lesson <a href="https://swcarpentry.github.io/git-novice/" target="_blank" rel="noopener noreferrer"> Version Control with Git</a>
    </h4>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td> <a href="https://swcarpentry.github.io/git-novice/setup.html" target="_blank" rel="noopener noreferrer">Setup</a> </td> </tr>  
      <tr> <td>     </td>  <td> <a href="https://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank" rel="noopener noreferrer">Automated Version Control</a>,
                                <a href="https://swcarpentry.github.io/git-novice/02-setup/index.html">Setting Up Git</a>,
                                <a href="https://swcarpentry.github.io/git-novice/03-create/index.html">Creating a Repository</a> and
                                <a href="https://swcarpentry.github.io/git-novice/04-changes/index.html" target="_blank" rel="noopener noreferrer">Tracking Changes</a> </td> </tr>                           
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td> <a href="https://swcarpentry.github.io/git-novice/05-history/index.html" target="_blank" rel="noopener noreferrer">Exploring History</a>, 
                                <a href="https://swcarpentry.github.io/git-novice/06-ignore/index.html" target="_blank" rel="noopener noreferrer">Ignoring Things</a> and
                                Exercise </td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td> <a href="https://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank" rel="noopener noreferrer">Remotes in GitHub</a>, 
                                <a href="https://swcarpentry.github.io/git-novice/08-collab/index.html" target="_blank" rel="noopener noreferrer">Collaborating</a> and
                                <a href="https://swcarpentry.github.io/git-novice/09-conflict/index.html" target="_blank" rel="noopener noreferrer">Conflicts</a> </td> </tr>
      <tr> <td>     </td>  <td> Wrap-up </td> </tr>
      <tr> <td>14:15</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
